*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}

p.content {
    font-family: 'Kosugi Maru', sans-serif;
    line-height: 150%;
}
h3.con {
    font-family: 'Kosugi Maru', sans-serif;
    line-height: 150%;
}
h2.content {
    font-family: 'Kosugi Maru', sans-serif;
    line-height: 150%;
}

body {
    background-image: url("images/skwic_back.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
  }
#top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: fixed;
    margin-top: -40px;
    width: 100vw;
    z-index: 2;
}

#top ul{
    display: flex;
    justify-content: flex-end;
    padding: right;
}

#top ul li{
    margin: 13px;
    display: inline;
}

#top li a{
    font-size: 23px;
    font-weight: bold;
    font-family: "font1";
    text-decoration:none;
    color : black;
    transition: 0.5s;
    padding: 8px 8px;
}

#top a:hover{
    color: #3D5CDB;
    background-color: rgba(211,211,211,0.5);
    box-shadow: 0 5px 10px black;
}
#top img{
    width: 200px;
}
#top .logo img{
    width: 150px;
}
.title_logo img{
    width: 320px;
    height: 350px;
    align-items: center;
    margin-top: 150px;
    margin-left: 100px;
}
#arrange{
   display: flex;
   flex-wrap: wrap;
   margin-left: 100px;
}
.nav{
    background-color: rgba(211,211,211,0.4);
}
.introduction{
    margin: 60px;
}
.intro{
    display: flex;
}
.sns{
    display: flex;
    flex-direction: column;
    margin: 50px;
    margin-top: 180px;
}
.sns a{
    color: black;
}
.sns a:hover{
    color: #3D5CDB
}
.size{
    margin-bottom: 100px;
}

.pic{
    margin: 70px 10px 30px 70px;
}
.pic img{
    width: 400px;
    height: 540px;
}
.title{
    margin: auto;
    text-align: center;
}
.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}
.about .about_content{
    width: 600px;
    height: 600px;
}
.about .about_content h2{
    font-size: 24px;
    text-align: center;
}
.about .about_content img{
    width: 150%;
}
.about .about_content p{
    width: 150%;
    text-align: center;
}

.news{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.news .about_content{
    width: 1200px;
}
.news .about_content p{
    text-align: center;
}
.intro-image{
    width: 350px;
    height: 350px;
    margin: 50px;
}
.intro-image img{
    width : 100%;
    height : 100%;
    padding-bottom: 50px;
    margin-right: 20px;
}
.intro-image-logo{
    width: 350px;
    height: 350px;
    margin: 50px;
}
.intro-image-logo img{
    width : 100%;
    height : 100%;
    padding-bottom: 50px;
    margin-right: 20px;
}
.title img{
    width: 300px;
    height: 100px;
    margin-top: 100px;
    margin-bottom: 50px;
}
.about_content{
    align-items: center;
    margin-bottom: 40px;
    margin : 0 auto
}

.intro-text-logo {
    width: 380px;
    margin: 0px 20px;
    align-items: center;
}

.intro-text-logo p{
    width: 250px;
    text-align: left;
    line-height: 30px;
    margin: 0 auto;
}
.intro-text {
    width: 380px;
    margin: 0px 20px;
    align-items: center;
}

.intro-text p{
    width: 250px;
    text-align: left;
    line-height: 30px;
    margin: 0 auto;
}
.intro-up{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    justify-content: center;
    flex-wrap: wrap;
}
.intro-up .intro-text p{
    text-align: center;
}
.intro-down{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.intro-down .intro-text p{
    text-align: center;
}
.coming_soon{
    text-align : center;
    margin-bottom: 100px;
}
.txt-hide img{
    display: block;
    width: 400px;
    margin: 50px;
}
.txt-hide{
    display: none;
}
    
button.more {
    width: 120px;
    margin: 20px auto;
    display: block;
    background-color: #666;
    color: #fff;
    padding:10px 15px;
    border: none;
    outline: 0;
    transition: .5s;
    -erbkit-transition: .5s;
}
     
button.more::after {
    content: "See More...";
    transition: .2s;
    -erbkit-transition: .2s;
}
    
button.more.on-click::after{
    content: "Close...";
}
footer p{
    display: block;
    height: 60px;
    line-height: 60px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    font-family: "font4";
    color: grey;
    font-size: 0.8rem;
    background-color: rgba(211,211,211,0.5);
}
.school-club{
    display: flex;
    justify-content: space-between;
    margin: 30px 70px 70px 70px;
}
.school-club img{
    width: 400px;
    height: 280px;
    border-radius: 16px;
}
.act{
    margin: 50px;
}
.school-club h3{
    margin-top: 8px;
}
.school-club p{
    margin-top: 16px;
    width: 350px;
}
.activity{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.member{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.contact_image{
    text-align: center;
}
.contact_image img{
    width: 550px;
}
.pic ul{
    list-style: none;
    position: relative;
}
.pic li{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 0;
}
.pic img{
    display: block;
    max-width: 100%;
    height: auto;
}
.pic li{
    animation: slide 14s infinite;/* (a+b)×c=x */
    opacity: 0;
}
@keyframes slide{
    0%{opacity: 0;}
    3.5%{opacity: 1;z-index: 1;}/* b÷x×100=y */
    25%{opacity: 1;}/* 100÷c=z */
    28.5%{opacity: 0;z-index: 0;}/* y+z */
}
.pic ul:hover li{
    animation-play-state:paused;/* マウスを載せると一時停止 */
}
.pic li:first-child{
    position:relative;
}
.v_line_fix {
    margin: 0 auto;
    width: 5px;
    height: 70px;
    background-color: black;
  }

  #nav-drawer {
    position: relative;
  }
  
  .nav-unshown {
    display:none;
  }
  
  #nav-open {
    display: inline-block;
    width: 30px;
    height: 22px;
    vertical-align: middle;
  }
  
  #nav-open span, #nav-open span:before, #nav-open span:after {
    position: absolute;
    height: 4px;
    width: 30px;
    border-radius: 3px;
    background: #555;
    display: block;
    content: '';
    cursor: pointer;
  }
  #nav-open span:before {
    bottom: -8px;
  }
  #nav-open span:after {
    bottom: -16px;
  }
  
  #nav-close {
    display: none;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0;
    transition: .3s ease-in-out;
  }
  
  /*メニューの中身*/
  #nav-content {
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 70%;
    max-width: 330px;/*最大幅（お好みで調整を）*/
    height: 100%;
    background: #fff;
    transition: .3s ease-in-out;
    -webkit-transform: translateX(-105%);
    transform: translateX(-105%);
  }
  
  /*チェックがついたら表示させる*/
  #nav-input:checked ~ #nav-close {
    display: block;
    opacity: .5;
  }
  
  #nav-input:checked ~ #nav-content {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    box-shadow: 6px 0 25px rgba(0,0,0,.15);
  }
  
  .header-logo-menu{
   display: flex;
   display: -moz-flex;
   display: -o-flex;
   display: -webkit-flex;
   display: -ms-flex;
   flex-direction: row;
   -moz-flex-direction: row;
   -o-flex-direction: row;
   -webkit-flex-direction: row;
   -ms-flex-direction: row;
   padding: 30px;
   display: none;
  }
  #nav-content ul{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 20px;
  }
  #nav-content li{
    padding: 10px;
  }
  #nav-content img{
    width: 280px;
    margin-left: 25px;
  }
  .crayon-orange-g {
    background: linear-gradient(transparent 55%,#df4343 55%,#F2CFCD 70%,#df4343);
    font-weight: bold;
    padding-bottom: 5px;
  }
  .crayon-orange-g-1 {
    background: linear-gradient(transparent 55%,#FFFFD4 55%,#F2E5AE 70%,#FFFFD4);
    font-weight: bold;
    padding-bottom: 5px;
  }
  .crayon-orange-g-2 {
    background: linear-gradient(transparent 55%,#E8FFFF 55%,#C4DEFF 70%,#E8FFFF);
    font-weight: bold;
    padding-bottom: 5px;
  }
  .crayon-orange-g-3 {
    background: linear-gradient(transparent 55%,#FDFAFF 55%,#B3E2DC 70%,#FDFAFF);
    font-weight: bold;
    padding-bottom: 5px;
  }

@media screen and (max-width: 480px){ 
    #top .nav ul{
        margin-right: 0px;
        display: none;
    }
    body::after {
        content: "";
        background: url(http://ib1.keep4u.ru/b/070815/ef2714da63d5940bf5.jpg);
        opacity: 0.5;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;   
    }
    nav{
        display: none;
    }
    .pic{
        display: none;
    }
    #top {
        margin-top: 0px;
    }
    #top .logo img{
        width: 120px;
        margin-left: 0;
        margin-top: 20px;
        opacity: 0.8;
    }
    .title_logo img{
        width: 210px;
        height: 270px;
        align-items: center;
        margin-top: 150px;
        margin-left: 50px;
    }
    #arrange{
       display: flex;
       flex-wrap: wrap;
       margin-left: 30px;
    }
    .sns{
        margin-left: 0;
        margin-right: 0;
    }
    
    .pic{
        display: none;
    }
    .title{
        margin: auto;
        text-align: center;
    }
    .title img{
        width: 200px;
        height: 60px;
        margin-top: 100px;
        margin-bottom: 50px;
    }
    .about .about_content{
        width: 300px;
        height: 500px;
    }
    .about .about_content h2{
        font-size: 24px;
        text-align: center;
    }
    .about .about_content img{
        width: 70%;
    }
    .intro-image-logo{
        width: 300px;
        height: 170px;
        margin: 50px;
    }
    .intro-image-logo img{
        width : 100%;
        height : 100%;
        padding-bottom: 20px;
        margin-right: 0px;
    }
    .intro-image{
        width: 200px;
        height: 220px;
    }
    .intro-image img{
        width : 100%;
        height : 100%;
        padding-bottom: 20px;
        margin-right: 0px;
    }
    .intro-text-logo {
        width: 180px;
        margin: 0px 20px;
        align-items: center;
    }
    
    .intro-text-logo p{
        width: 250px;
        text-align: left;
        line-height: 30px;
        margin: 0 auto;
    }
    .intro-text {
        width: 200px;
        margin: 0px 20px;
        align-items: center;
        margin-bottom: 20px;
    }
    
    .intro-text p{
        width: 250px;
        text-align: left;
        line-height: 30px;
        margin: 0 auto;
        font-size: 14px;
    }
    .intro-up .intro-text p{
        text-align: left;
        margin-left: 10px;
    }
    .intro-down .intro-text p{
        text-align: left;
        margin-left: 10px;
    }
    .intro-down{
        flex-direction: column-reverse;
    }
    .about .about_content p{
        width: 150%;
        text-align: center;
    }
    .coming_soon{
        padding: 30px;
    }
    .news{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .news .about_content{
        width: 300px;
        margin-bottom: 80px;
    }
    .news .about_content p{
        text-align: center;
    }

    .about_content{
        align-items: center;
        margin : 0 auto
    }
    .school-club{
        display: flex;
        flex-direction: column;
        width: 300px;
        margin: 20px;
    }
    .act{
        margin: 0px;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .school-club h3{
        margin-top: 8px;
        width: 240px;
        margin: 0 auto;
        padding: 10px;
        margin-bottom: 10px;
    }
    .school-club p{
        margin-top: 16px;
        width: 240px;
        font-size: 12px;
        margin: 0 auto;
        margin-bottom: 40px;
    }
    .school-club img{
        width: 260px;
        height: 180px;
        border-radius: 16px;
        display: block;
        margin: 0 auto;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .txt-hide img{
        display: block;
        width: 200px;
        margin: 50px;
    }
    .txt-hide{
        display: none;
        flex-direction: column;
    }
    .wrap {
        overflow: hidden;
    }  
    footer p{
        font-size: 0.2rem;
    }
    .contact_image img{
        width: 300px;
    }
    .header-logo-menu{
        padding: 20px;
        display: block;
       }
    #nav-content li{
        padding: 10px;
    }
    #nav-content ul{
        margin-top: 40px;;
    }
    #nav-content img{
        width: 200px;
        margin-top: 30px;
    }
}