*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}
@font-face {
    font-family: "font1";
    src: url(fonts/Futura-Boo.ttf);
  }
@font-face {
    font-family: "font2";
    src: url(fonts/Futura-LigObl.ttf);
}
@font-face{
    font-family: "font3";
    src: url(fonts/Futura-Bol.ttf);
}

@font-face {
    font-family: "font4";
    src: url(fonts/Futura-Lig.ttf);
}
body {
    background-image: url("skwic_back.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
  }

#top {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    position: fixed;
    margin-top: -50px;
}

#top img{
    width: 200px;
    height: 100px;
}
#top ul{
    width: 900px;
    display: flex;
    justify-content: flex-end;
    padding: right;
}

#top ul li{
    margin: 13px;
    display: inline;
}

#top li a{
    font-size: 30px;
    font-weight: bold;
    font-family: "font1";
    text-decoration:none;
    color : black;
    transition: 0.5s;
}

#top a:hover{
    color: #3D5CDB
}

#arrange{
    display: flex;
   flex-wrap: wrap;
   margin-left: 100px;
}
.introduction{
    margin: 60px;
}
.intro{
    display: flex;
}
.sns{
    display: flex;
    flex-direction: column;
    margin: 50px;
    margin-top: 180px;
}
.size{
    margin-bottom: 100px;
}

.pic{
    margin: 70px 10px 30px 70px;
}
.pic img{
    width: 440px;
    height: 540px;
}

.title{
    margin: auto;
    font-size: 30px;
}
.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about .about_content{
    width: 600px;
    height: 600px;
}
.about .about_content h2{
    font-size: 24px;
    text-align: center;
}
.about .about_content img{
    width: 150%;
}
.about .about_content p{
    width: 150%;
    text-align: center;
}

.news{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.news .about_content{
    width: 1000px;
    height: 200px;
}
.news .about_content p{
    text-align: center;
    margin-bottom: 50px;
}
.intro-image{
    width: 350px;
    height: 350px;
    margin: 50px;
}
.intro-image img{
    width : 100%;
    height : 100%;
    padding-bottom: 50px;
    margin-right: 20px;
}
.sub_title{
    text-align: center;
    color: #3D5CDB;
    font-weight: bold;
    font-family: "font3";
    margin-top: 10px;    
    font-size: 53px;
    padding: 40px; 
}
.title{
    align-items: center;
}
.title img{
    width: 300px;
    height: 100px;
    align-items: center;
}

.about_content{
    align-items: center;
    margin-bottom: 40px;
    margin : 0 auto
}

.intro-text {
    width: 350px;
    margin: 0px 20px;
    align-items: center;
}

.intro-text p{
    width: 350px;
    text-align: left;
    line-height: 30px;
    font-family: 'Hiragino Kaku Gothic Pro';
    margin: 0 auto;
}

.intro-up{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    justify-content: center;
    flex-wrap: wrap;
}
.intro-up .intro-text p{
    text-align: center;
}
.intro-down{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.intro-down .intro-text p{
    text-align: center;
}
.coming_soon{
    text-align : center;
    margin-bottom: 70px;
}
.txt-hide img{
    width: 300px;
    height: 300px;
}   
button.more {
    width: 120px;
    margin: 20px auto;
    display: block;
    background-color: #666;
    color: #fff;
    padding:10px 15px;
    border: none;
    outline: 0;
    transition: .5s;
    -erbkit-transition: .5s;
}
     
button.more::after {
    content: "See More...";
    transition: .2s;
    -erbkit-transition: .2s;
}
    
button.more.on-click::after{
    content: "Close...";
}

.map{
    text-align: center;
}
iframe{
    width: 600px;
    height: 450px;
}
.contact_image{
    text-align: center;
}
.contact_image img{
    width: 600px;
    height: 450px;
}
footer p{
    display: block;
    height: 60px;
    line-height: 60px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    font-family: "font4";
    color: #3D5CDB;
    font-size: 1.1rem;
}