*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}
@font-face {
    font-family: "font1";
    src: url(fonts/Futura-Boo.ttf);
  }
@font-face {
    font-family: "font2";
    src: url(fonts/Futura-LigObl.ttf);
}
@font-face{
    font-family: "font3";
    src: url(fonts/Futura-Bol.ttf);
}

@font-face {
    font-family: "font4";
    src: url(fonts/Futura-Lig.ttf);
}
body {
    background-image: url("skwic_back.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
  }

#top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: fixed;
    margin-top: -50px;
    width: 100%;
    z-index: 2;
}

#top img{
    width: 200px;
    height: 100px;
}
#top ul{
    display: flex;
    justify-content: flex-end;
    padding: right;
    margin-right: 30px;
}

#top ul li{
    margin: 13px;
    display: inline;
}

#top li a{
    font-size: 23px;
    font-weight: bold;
    font-family: "font1";
    text-decoration:none;
    color : black;
    transition: 0.5s;
    padding: 8px 8px;
}

#top a:hover{
    color: #3D5CDB;
    background-color: rgba(211,211,211,0.5);
}
.title_logo img{
    width: 350px;
    height: 350px;
    align-items: center;
    margin-top: 150px;
    margin-left: 100px;
}
#arrange{
    display: flex;
   flex-wrap: wrap;
   margin-left: 100px;
}
.nav{
    background-color: rgba(211,211,211,0.4);
}
.introduction{
    margin: 60px;
}
.intro{
    display: flex;
}
.sns{
    display: flex;
    flex-direction: column;
    margin: 50px;
    margin-top: 180px;
}
.sns a{
    color: black;
}
.sns a:hover{
    color: #3D5CDB
}
.size{
    margin-bottom: 100px;
}

.pic{
    margin: 70px 10px 30px 70px;
}
.pic img{
    width: 400px;
    height: 540px;
}
.title{
    margin: auto;
    text-align: center;
}
.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about .about_content{
    width: 600px;
    height: 600px;
}
.about .about_content h2{
    font-size: 24px;
    text-align: center;
}
.about .about_content img{
    width: 150%;
}
.about .about_content p{
    width: 150%;
    text-align: center;
}

.news{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.news .about_content{
    width: 1200px;
    height: 200px;
}
.news .about_content p{
    text-align: center;
}
.intro-image{
    width: 350px;
    height: 350px;
    margin: 50px;
}
.intro-image img{
    width : 100%;
    height : 100%;
    padding-bottom: 50px;
    margin-right: 20px;
}
.title img{
    width: 300px;
    height: 100px;
    margin-top: 100px;
    margin-bottom: 50px;
}
.about_content{
    align-items: center;
    margin-bottom: 40px;
    margin : 0 auto
}

.intro-text {
    width: 350px;
    margin: 0px 20px;
    align-items: center;
}

.intro-text p{
    width: 350px;
    text-align: left;
    line-height: 30px;
    font-family: 'Hiragino Kaku Gothic Pro';
    margin: 0 auto;
}

.intro-up{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    justify-content: center;
    flex-wrap: wrap;
}
.intro-up .intro-text p{
    text-align: center;
}
.intro-down{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.intro-down .intro-text p{
    text-align: center;
}
.coming_soon{
    text-align : center;
}
.txt-hide img{
    display: block;
    width: 400px;
    height: 400px;
    margin: 50px;
}
.txt-hide{
    display: none;
}
    
button.more {
    width: 120px;
    margin: 20px auto;
    display: block;
    background-color: #666;
    color: #fff;
    padding:10px 15px;
    border: none;
    outline: 0;
    transition: .5s;
    -erbkit-transition: .5s;
}
     
button.more::after {
    content: "See More...";
    transition: .2s;
    -erbkit-transition: .2s;
}
    
button.more.on-click::after{
    content: "Close...";
}
footer p{
    display: block;
    height: 60px;
    line-height: 60px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    font-family: "font4";
    color: #3D5CDB;
    font-size: 0.8rem;
}
.school-club{
    display: flex;
    justify-content: space-between;
    margin: 30px 70px 70px 70px;
}
.school-club img{
    width: 350px;
    height: 270px;
    border-radius: 16px;
}
.act{
    margin: 50px;
}
.school-club h3{
    margin-top: 8px;
}
.school-club p{
    margin-top: 16px;
    width: 350px;
}
.activity{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.member{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.contact_image{
    text-align: center;
}
.contact_image img{
    width: 600px;
    height: 450px;
}
.pic ul{
    list-style: none;
    position: relative;
}
.pic li{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 0;
}
.pic img{
    display: block;
    max-width: 100%;
    height: auto;
}
.pic li{
    animation: slide 14s infinite;/* (a+b)×c=x */
    opacity: 0;
}
@keyframes slide{
    0%{opacity: 0;}
    3.5%{opacity: 1;z-index: 1;}/* b÷x×100=y */
    25%{opacity: 1;}/* 100÷c=z */
    28.5%{opacity: 0;z-index: 0;}/* y+z */
}
.pic ul:hover li{
    animation-play-state:paused;/* マウスを載せると一時停止 */
}
.pic li:first-child{
    position:relative;
}